html, footer {
  height: 100%;
  background: #3023ae;
  background: -moz-linear-gradient(-45deg, #3023ae 0%, #e3493a 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3023ae), color-stop(100%, #e3493a));
  background: -webkit-linear-gradient(-45deg, #3023ae 0%, #e3493a 100%);
  background: -o-linear-gradient(-45deg, #3023ae 0%, #e3493a 100%);
  background: -ms-linear-gradient(-45deg, #3023ae 0%, #e3493a 100%);
  background: linear-gradient(135deg, #3023ae 0%, #e3493a 100%);
  background-attachment: fixed; }

body {
  font-family: HalisGR-Thin;
  font-size: 1em;
  line-height: 1;
  color: #FFF; }

h1 {
  font-family: HalisGR-Black;
  text-transform: uppercase;
  font-size: 5em;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

h2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

h2, h3, h4 {
  font-family: HalisGR-Thin;
  text-transform: uppercase;
  font-size: 2.5em; }

a {
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

a:hover {
  color: #222;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

/* @group NAV */
nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0; }
  nav .menu-btn {
    position: absolute;
    width: 45px;
    height: 22px;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    nav .menu-btn span, nav .menu-btn:before, nav .menu-btn:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 10px;
      left: 0;
      overflow: hidden;
      background-color: #FFF; }
    nav .menu-btn:before {
      top: 0; }
    nav .menu-btn:after {
      top: 20px; }

/* @end */
/* @group MAIN WRAPPER */
.main-wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto; }
  .main-wrapper #poly {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 0; }
  .main-wrapper #poly canvas {
    display: block;
    margin: 0 auto; }
  .main-wrapper .headline {
    text-align: center;
    padding-top: 3em; }
  .main-wrapper .legal {
    position: absolute;
    left: 30px;
    bottom: 30px;
    cursor: pointer; }

/* @end */
/* @group FOOTER */
footer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  footer h3 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 35px; }
  footer h4 {
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 20px; }
  footer p {
    font-size: 1.3em;
    line-height: 1.3em; }
  footer .legal-close {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    background-color: black;
    cursor: pointer; }
    footer .legal-close:before {
      content: "";
      color: #FFF;
      border-bottom: 1px solid #FFF;
      width: 100%;
      display: block;
      position: relative;
      top: 35px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
    footer .legal-close:after {
      content: "";
      color: #FFF;
      border-bottom: 1px solid #FFF;
      width: 100%;
      display: block;
      position: relative;
      top: 35px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
    footer .legal-close:hover:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
    footer .legal-close:hover:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
  footer .legal-content {
    padding: 50px 100px;
    box-sizing: border-box; }

/* @end */
/* @group MEDIA QUERIES */
/* iPad & iPhone */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-wrapper {
    width: 100%; }

  canvas {
    width: 100% !important;
    height: auto !important; }

  #poly {
    width: 100%;
    padding-top: 2em; }

  .headline {
    padding-top: 1em; }

  h1 {
    font-size: 2.2em; }

  h2 {
    font-size: 1.1em; }

  footer .legal-content {
    padding: 10px 20px; }

  footer h3 {
    font-size: 2em;
    word-break: break-word; }

  footer a {
    word-break: break-word; }

  footer h4 {
    font-size: 1.5em; }

  footer p {
    font-size: 1.1em;
    line-height: 1.3em; } }
/* small Desktop */
@media only screen and (max-width: 960px) {
  .main-wrapper {
    width: 100%; } }
/* @end */

/*# sourceMappingURL=style.css.map */
